<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div onclick="b()">
    <span>새로운 박스</span>
</div>
<div class="idInput">
    <input type="text" class="userName" placeholder="userName">
</div>
<div class="idInput">
    <input type="text" class="nickName" placeholder="nickName" onkeyup="doEnter(event)">
</div>
<div style="border:1px solid; padding:5px;" class="box" onclick="buttonProtocol()">클릭</div>
<div onclick="a()">
    <span>눌러보세요 ㅋㅋ</span>
</div>
</body>
<script>

</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/common.js"></script>
<!--<script src="/jquerry.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<script>
    const user = {}
    function buttonProtocol() {
        let userName = document.querySelector('.userName').value;
        let nickName = document.querySelector('.nickName').value;

        user.userName = userName;
        user.nickName = nickName;
        console.log('함수 내부 ', user);
        postProtocol('/into', user,
            (response => {
                console.log('이것은 응답입니다.', response);
                location.href = response.data;
            }),
            (err=> {
                alert(`${err.data[0].field} 는 ${err.data[0].defaultMessage}`)
                console.log('이것은 에러입니다.', err);
            })
        );
    }

    function a() {
        console.log('a');
        console.log(event.target);
    }

    function b() {
        console.log('b');
        console.log(event.target);
        a();
    }

    const saveLocalStorage = ()=>{
        localStorage.setItem("hello", "world");
    }

    const saveSessionStorage = ()=>{
        sessionStorage.setItem("hello", "hi");
    }

    let asd = null;
    const loadLocalStorage = ()=>{
        let d = localStorage.getItem("hello");
        asd = localStorage.getItem("hello");

        console.log(d);
    }

    const loadSessionStorage = ()=>{
        let d = sessionStorage.getItem("hello");
        asd = sessionStorage.getItem("hello");

        console.log(d);
    }

    const removeLocalStorage = ()=>{
        localStorage.removeItem("hello");

        console.log(asd);
        console.log(localStorage.getItem('hello'));
    }

    const removeSessionStorage = ()=>{
        sessionStorage.removeItem("hello");
        // document.querySelector();
        console.log(asd);
        console.log(sessionStorage.getItem('hello'));
    }

    function doEnter(event){
        if (event.keyCode == 13) {
            buttonProtocol();
        }
    }

    post
</script>
</html>