<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="idInput">
    <input type="text" class="userName" placeholder="userName">
</div>
<div class="idInput">
    <input type="text" class="nickName" placeholder="nickName">
</div>
<div style="border:1px solid; padding:5px;" class="box" onclick="buttonProtocol()">클릭</div>

</body>
<script>

</script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/common.js"></script>
<script>
    const user = {}
    function buttonProtocol() {
        let userName = document.querySelector('.userName').value;
        let nickName = document.querySelector('.nickName').value;

        user.userName = userName;
        user.nickName = nickName;
        console.log('함수 내부 ', user);
        postProtocol('/into', user,
            (response => {
                console.log('이것은 응답입니다.', response);
                alert(`${response.data[0].field} 는 ${response.data[0].defaultMessage}`)
            }),
            (err=> {
                console.log('이것은 에러입니다.', err);
            })
            );
    }
</script>
</html>